
        {% comment %} <section class="gray-boxed-wrapper home-one__boxed">
            <img src="{% static 'frontend/assets/images/icon/home-1-blog-bg.png' %}" alt="" class="home-one__boxed-bg"> {% endcomment %}
            {% comment %} <div class="blog-home-two blog-home-one">
                <div class="container">
                    <div class="row top-row">
                        <div class="col-lg-6">
                            <div class="block-title">
                                <div class="block-title__image"></div><!-- /.block-title__image -->
                                <p>From the blog post</p>
                                <h3>Latest News & Articles
                                    Directly from Blog</h3>
                            </div><!-- /.block-title -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <p class="block-text">Lorem ipsum is simply free text available. Aenean eu leo quam. Pellentesque
                                ornare
                                sem lacinia
                                quam venenatis vestibulum. Aenean lacinia bibendum nulla sed consectetur.</p>
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-md-12 col-lg-4">
                            <div class="blog-card">
                                <div class="blog-card__image">
                                    <img src="{% static 'frontend/assets/images/blog/blog-grid-1.jpg' %}" alt="Best Way to Do Eco and Agriculture">
                                    <a href="blog-details.html"></a>
                                </div><!-- /.blog-card__image -->
                                <div class="blog-card__content">
                                    <div class="blog-card__date">18 Nov</div><!-- /.blog-card__date -->
                                    <div class="blog-card__meta">
                                        <a href="blog-details.html"><i class="far fa-user-circle"></i> by Admin</a>
                                        <a href="blog-details.html"><i class="far fa-comments"></i> 2 Comments</a>
                                    </div><!-- /.blog-card__meta -->
                                    <h3><a href="blog-details.html">Best Way to Do Eco and Agriculture</a></h3>
                                    <a href="blog-details.html" class="thm-btn">Read More</a><!-- /.thm-btn -->
                                </div><!-- /.blog-card__content -->
                            </div><!-- /.blog-card -->
                        </div><!-- /.col-md-12 col-lg-4 -->
                        <div class="col-md-12 col-lg-4">
                            <div class="blog-card">
                                <div class="blog-card__image">
                                    <img src="{% static 'frontend/assets/images/blog/blog-grid-2.jpg' %}" alt="Leverage agile frameworks to provide">
                                    <a href="blog-details.html"></a>
                                </div><!-- /.blog-card__image -->
                                <div class="blog-card__content">
                                    <div class="blog-card__date">18 Nov</div><!-- /.blog-card__date -->
                                    <div class="blog-card__meta">
                                        <a href="blog-details.html"><i class="far fa-user-circle"></i> by Admin</a>
                                        <a href="blog-details.html"><i class="far fa-comments"></i> 2 Comments</a>
                                    </div><!-- /.blog-card__meta -->
                                    <h3><a href="blog-details.html">Leverage agile frameworks to provide</a></h3>
                                    <a href="blog-details.html" class="thm-btn">Read More</a><!-- /.thm-btn -->
                                </div><!-- /.blog-card__content -->
                            </div><!-- /.blog-card -->
                        </div><!-- /.col-md-12 col-lg-4 -->
                        <div class="col-md-12 col-lg-4">
                            <div class="blog-card">
                                <div class="blog-card__image">
                                    <img src="{% static 'frontend/assets/images/blog/blog-grid-3.jpg' %}" alt="Organically grow the holistic world view">
                                    <a href="blog-details.html"></a>
                                </div><!-- /.blog-card__image -->
                                <div class="blog-card__content">
                                    <div class="blog-card__date">18 Nov</div><!-- /.blog-card__date -->
                                    <div class="blog-card__meta">
                                        <a href="blog-details.html"><i class="far fa-user-circle"></i> by Admin</a>
                                        <a href="blog-details.html"><i class="far fa-comments"></i> 2 Comments</a>
                                    </div><!-- /.blog-card__meta -->
                                    <h3><a href="blog-details.html">Organically grow the holistic world view</a></h3>
                                    <a href="blog-details.html" class="thm-btn">Read More</a><!-- /.thm-btn -->
                                </div><!-- /.blog-card__content -->
                            </div><!-- /.blog-card -->
                        </div><!-- /.col-md-12 col-lg-4 -->
                    </div><!-- /.row --> {% endcomment %}
                    {% comment %} <hr />
                </div><!-- /.container -->
            </div><!-- /.blog-home-two --> {% endcomment %}