{% extends "frontend/base.html" %}
{% load static i18n %}
{% block content %}
    <section class="page-header">
        <div class="page-header__bg" style="background-image: url(assets/images/backgrounds/page-header-bg-1-1.jpg);"></div>
        <div class="container">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="{% url 'pages:index' %}">Home</a></li>
            </ul>
            <h2>Services</h2>
        </div>
    </section>
    <section class="service-area">
        <div class="container">
            {% if services %}
                <div class="row">
                    {% for service in services %}
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="service-item border-shadow">
                                <div class="thumb">
                                    <img src="{{ service.image.url }}" alt="{{ service.title }}">
                                </div>
                                <div class="service-title">
                                    <h4 class="text-center">{{ service.title }}</h4>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
           {% else %}  
           <div class="row-11">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="service-two__card">
                    <div class="service-two__card-image">
                        <img src="assets/images/services/service-2-1.jpg" alt="">
                    </div>
                    <div class="service-two__card-content">
                        <div class="service-two__card-icon" 
                             style="background-image: url('frontend/assets/images/services/service-icon-1-1.png'); ');
                                    background-size: cover;
                                    background-position: center;
                                    width: 150px;
                                    height: 150px;
                                    border-radius: 50%;">
                        </div>
                        
                        <h3><a href="service-details.html">Agriculture Products</a></h3>
                        <p>Lorem ium dolor sit ametad pisicing elit sed simply do ut.</p>
                    </div>
            </div>           
        {% endif %}
        </div>
    </section>
{% endblock %}