{% extends "frontend/base.html" %}
{% load static i18n %}

{% block content %}
    <section class="page-header">
        <div class="page-header__bg" style="background-image: url(assets/images/backgrounds/page-header-bg-1-1.jpg);"></div>
        <div class="container">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="{% url 'pages:index' %}">Home</a></li>
            </ul>
            <h2>Services</h2>
        </div>
    </section>
    <section class="service-area">
        <div class="container">
            {% if services %}
                <div class="row">
                    {% for service in services %}
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="service-item border-shadow">
                                <div class="thumb">
                                    <img src="{{ service.image.url }}" alt="{{ service.title }}">
                                </div>
                                <div class="service-title">
                                    <h4 class="text-center">{{ service.title }}</h4>
                                </div>
                            </div>
                        </div>
                        
                    {% endfor %}
                </div>
           {% else %}
           <div class="card-body-1">

            <div style="width: 310px; padding: 20px 10px; border: 1px solid #6e7673; border-radius: 5px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); align-items: center; background-color: #f3f2f0;">
                <!-- Square with visible circle (added background color) -->
                <div style="width: 280px; height: 160px; border: 1px solid #6e7673; border-radius: 3px; margin: 0 auto 20px; display: flex; justify-content: center; align-items: center; background-color: white;">
                    <div style="width: 130px; height: 130px; border-radius: 50%; overflow: hidden; background-size: cover; background-position: center; background-color: #ddd; background-image: url(assets/img/image.png);"></div>
                </div>
                
                <!-- Text container -->
                <div style="width: 280px; margin: 0 auto; padding: 0; box-sizing: border-box;">
                    <div style="font-weight: bold; margin-bottom: 18px; font-size: 1.1em; text-align: left; width: 100%;"><h2>General Contract</h2></div>
                    <div style="color: #000; line-height: 1.5; text-align: left; width: 100%; word-wrap: break-word;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et dolore magna aliqua. nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et dolore magna aliqua. 
                    </div>
                </div>
            </div>
        </div>             
        {% endif %}
        </div>
    </section>
{% endblock %}