.border-shadow{
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* service item  */
.service-item{
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.service-item .thumb{
    display: flex;
    align-items: center;
    justify-content: center;
}
.service-item .thumb img{
    height: 120px;
    width: 120px;
    border-radius: 100%;
    border: 1px solid red;
}
/*== Message Box Widget UI Page ==*/
.notification {
	padding:10px;
	border-radius:4px;
	margin-bottom:40px;
    position: relative;
}
.notification p {
	color:#fff;
	text-align:left;
	padding-bottom:0;
}
.notification p a {
	color: rgba(255,255,255,0.71);
	font-weight:600;
	padding:0 5px;
}
.notification-close {
	position:absolute;
	top:30%;
	right:20px;
	height:20px;
	margin-top:-10px;
	color: #ffffff;
}
.notification-close:hover {
	color:#fff;
}
.notification.success {
	background: #5ECFB1;
}
.notification.warning {
	background-color: #F7F3D7;
}
.notification.warning .notification-close,
.notification.warning p{
	color: #927238;
}
.notification.error {
	background-color: #ECC8C5;
}
.notification.error .notification-close,
.notification.error p{
	color: #AB3331;
}
.notification.waitforreview{
	background:#FBC54F;
}