{% load static i18n %}
<footer class="site-footer py-4" style="min-height: 300px;">
    <img src="assets/images/icons/footer-bg-icon-1.png" class="site-footer__shape-1" alt="">
    <img src="assets/images/icons/footer-bg-icon-2.png" class="site-footer__shape-2" alt="">
    <div class="container h-100">
        <div class="row h-100 g-4 align-items-stretch">
            <!-- Links Column -->
            <div class="col-sm-12 col-md-4 d-flex flex-column pt-3">
                <div class="footer-widget footer-widget__links-widget h-100 d-flex flex-column">
                    <h3 class="footer-widget__title mb-3">Links</h3>
                    <ul class="list-unstyled footer-widget__links flex-grow-1">
                        <li class="mb-2"><a href="services.html">Our Services</a></li>
                        <li class="mb-2"><a href="#">About us</a></li>
                        <li class="mb-2"><a href="#">Privacy Policy</li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- News Column -->
            <div class="col-sm-12 col-md-4 d-flex flex-column pt-3">
                <div class="footer-widget h-100 d-flex flex-column">
                    <h3 class="footer-widget__title mb-3">News</h3>
                    <ul class="list-unstyled footer-widget__post flex-grow-1">
                        <li class="mb-3 d-flex">
                            <img src="{% static 'frontend/assets/images/resources/footer-post-1.png' %}" alt="" class="me-3" style="width: 80px; height: 80px; object-fit: cover;">
                            <div class="footer-widget__post-content">
                                <span class="d-block small mb-1">Aug, 2025</span>
                                <h4 class="h6 mb-0"><a href="blog-details.html">How to cultivate healthy farm practices</a></h4>
                            </div>
                        </li>
                        <li class="d-flex">
                            <img src="{% static 'frontend/assets/images/resources/footer-post-2.png' %}" alt="" class="me-3" style="width: 80px; height: 80px; object-fit: cover;">
                            <div class="footer-widget__post-content">
                                <span class="d-block small mb-1">Aug, 2025</span>
                                <h4 class="h6 mb-0"><a href="blog-details.html">The fertilizer application method on farm products</a></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
            <!-- Contact Column -->
            <div class="col-sm-12 col-md-4 d-flex flex-column pt-3">
                <div class="footer-widget h-100 d-flex flex-column">
                    <h3 class="footer-widget__title mb-3">Contact</h3>
                    <ul class="list-unstyled footer-widget__contact flex-grow-1">
                        <li class="mb-3 d-flex align-items-center">
                            <i class="agrikon-icon-telephone me-2"></i>
                            <a href="tel:+2348079726386">08079726386</a>
                        </li>
                        <li class="mb-3 d-flex align-items-center">
                            <i class="agrikon-icon-email me-2"></i>
                            <a href="mailto:rutuviafarmsandfoods@gmail.com">rutuviafarmsandfoods@gmail.com</a>
                        </li>
                        <li class="d-flex align-items-start">
                            <i class="agrikon-icon-pin me-2 mt-1"></i>
                            <a href="#">Along Welfare Quaters Road Shammah Plaza<br>Makurdi, Benue State</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>