{% load static i18n %}
<footer class="site-footer">
    <img src="assets/images/icons/footer-bg-icon-1.png" class="site-footer__shape-1" alt="">
    <img src="assets/images/icons/footer-bg-icon-2.png" class="site-footer__shape-2" alt="">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                <div class="footer-widget">
                    <a href="index-2.html" class="footer-widget__Logo">
                        <img src="assets/images/logo-light.png" width="153" alt="">
                    </a>
                    <p>There are many variations of passages of lorem ipsum available, but the majority suffered.
                    </p>
                    <form action="#" data-url="YOUR_MAILCHIMP_URL" class="mc-form">
                        <input type="email" name="EMAIL" placeholder="Email Address">
                        <button type="submit"><i class="agrikon-icon-right-arrow"></i></button>
                    </form>
                    <div class="mc-form__response"></div>
                    <div class="footer__social">
                        <a href="#" class="fab fa-facebook-square"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2">
                <div class="footer-widget footer-widget__links-widget">
                    <h3 class="footer-widget__title">Links</h3>
                    <ul class="list-unstyled footer-widget__links">
                        <li><a href="#">Our Projects</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">New Campaign</a></li>
                        <li><a href="#">Upcoming Events</a></li>
                        <li><a href="#">Volunteers</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <div class="footer-widget">
                    <h3 class="footer-widget__title">News</h3>
                    <ul class="list-unstyled footer-widget__post">
                        <li>
                            <img src="{% static 'frontend/assets/images/resources/footer-post-1.png' %}" alt="">
                            <div class="footer-widget__post-content">
                                <span>Nov 16, 2020</span>
                                <h4><a href="blog-details.html">How to grow vagetables in the forms</a></h4>
                            </div>
                        </li>
                        <li>
                            <img src="{% static 'frontend/assets/images/resources/footer-post-2.png' %}" alt="">
                            <div class="footer-widget__post-content">
                                <span>Nov 16, 2020</span>
                                <h4><a href="blog-details.html">How to grow vagetables in the forms</a></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <h3 class="footer-widget__title">Contact</h3>
                <ul class="list-unstyled footer-widget__contact">
                    <li>
                        <i class="agrikon-icon-telephone"></i>
                        <a href="tel:666-888-0000">666 888 0000</a>
                    </li>
                    <li>
                        <i class="agrikon-icon-email"></i>
                        <a href="mailto:needhelp@company.com">needhelp@company.com</a>
                    </li>
                    <li>
                        <i class="agrikon-icon-pin"></i>
                        <a href="#">80 broklyn golden street line
                            New York, USA</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="bottom-footer">
    <div class="container">
        <p>© Copyright 2020 by Company.com</p>
        <div class="bottom-footer__links">
            <a href="#">Terms & Conditions</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Sitemap</a>
        </div>
    </div>
</div>