{% load static i18n %}
<header class="main-header">
    <div class="topbar">
        <div class="container">
            <div class="topbar__left">
                <div class="topbar__social">
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div>
                <p>Welcome to Rutuvia farms and foods</p>
            </div>
            <div class="topbar__right">
                <a href="mailto:austinejoseph60@gmail.com"><i class="agrikon-icon-email"></i>company email</a>
                <a href="#"><i class="agrikon-icon-clock"></i>Mon - Sat 8:00 - 6:30, Sunday - CLOSED</a>
            </div>
        </div>
    </div>
    <nav class="main-menu">
        <div class="container">
            <div class="logo-box">
                <a href="{% url 'pages:index' %}" aria-label="logo image"><img src="{% static 'frontend/assets/images/logo-dark.png' %}" width="153" alt=""></a>
                <span class="fa fa-bars mobile-nav__toggler"></span>
            </div>
            <ul class="main-menu__list">
                <li class="">
                    <a href="{% url 'pages:index' %}">Home</a>
                </li>
                <li class="">
                    <a href="{% url 'pages:services' %}">Services</a>
                </li>
                <li>
                    <a href="{% url 'pages:contact' %}">Contact</a>
                </li>
                <li>
                    <a href="{% url 'pages:about' %}">About</a>
                </li>
            </ul>
            <div class="main-header__info">
                <a href="#" class="search-toggler main-header__search-btn"><i class="agrikon-icon-magnifying-glass"></i></a>
                <a class="main-header__cart-btn" href="#"><i class="agrikon-icon-shopping-cart"></i></a>
                <a href="tel:92-666-888-0000" class="main-header__info-phone">
                    <i class="agrikon-icon-phone-call"></i>
                    <span class="main-header__info-phone-content">
                        <span class="main-header__info-phone-text">Call Anytime</span>
                        <span class="main-header__info-phone-title">company number</span>
                    </span>
                </a>
            </div>
        </div>
    </nav>
</header>